# COGS 108 - Final Project

# Overview

Overview:
given the topic of health inspections and the prompt of: Imagine you work for a local city government and want to improve the restaurant health inspection process for the city government.

# Name & PID

- Name: Peter Kirov
- PID: A15753179

# Research Question

If a restaurant serves certain types of foods are there more violations, resulting in a need for more regular inspections on those restaurants?

## Background and Prior Work

I am asking this question based off of the guidelines that health inspectors use to rate kitchens. I found a few guidelines.
    
    1)Storing raw ingredients under dripping meat(lightspeed)
    2)Lack of general cleanliness (lightspeed)
    3)mislabeling bottles.

Most Restaurants will always try to keep their kitchens clean so what could make a restaurants violations increase would seem to be something along the lines of if you sell a lot of salad then you might have mislabeled bottles of vinagrette and bleach for example. It is unlikely but mislabeling bottles can lead to pretty bad consequences. Also a restaurant that does not keep good track of its meat filled environment can go bad really quickly.
On another website I found some of the top major violations of a restaurant would be keeping things hot or cold. If you think about an Ice machine those can get mold very quickly if not properly taken care of so places that serve ice cream could lead to more safety violations.
    
    1)Proper hot and cold holding temperatures — This violation can occur  in reach-in refrigeration lowboys, top-cold holding units, walk-in refrigerators, and on stovetops. Have thermometers present. The only way you can control the rapid growth of bacteria is to make sure food is held outside of the temperature danger zone, which is between 41ºF and 135ºF or 140ºF (the required level depends on your local health department guidelines).
References (include links):
- 1)https://www.lightspeedhq.com/blog/restaurant-health-inspection/
- 2)https://www.menucoverdepot.com/resource-center/articles/restaurant-health-inspections/

# Hypothesis

I believe that if a restaurant does serve certain types of food they will be more likely to recieve safety violations. 

Like I wrote in the background if a restaurant serves meats or sandwiches or icecream it is likely that they might might have more violations.

# Dataset(s)


All of my data has come from the professor as this is the individual project.

restaurants.csv
----
- Number of observations:3324

Description:
- This is a list of all the restaurants that contain what type of establishment it is and the name and hsisid of the restaurants.

violations.csv
--
- Number of observations:189802

Description:

- This is a list of violations of a majority of the restaurants in the restaurants.csv


yelp.csv
----------
- Number of observations:3688

Description:

- This dataset contains the types of food and and whether or not the restaurant is closed or opened, where it is located and the price points of each restaurant.


If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

- I plan to combine these inorder to get the restaurant and the violations and the types of food all together in one place.

# Setup

In [198]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()
sns.set_context('talk')

In [199]:
#import all the necessary data
restaurants_df = pd.read_csv("data/restaurants.csv")
violations_df = pd.read_csv("data/violations.csv")
yelp_df = pd.read_csv("data/yelp.csv")

# show

In [200]:
restaurants_df.head()

,X.objectid,hsisid,name,address1,address2,city,state,postalcode,phonenumber,restaurantopendate,facilitytype,x,y,geocodestatus
0,1001,4092017230,SPRING CAFE 2,2900-104 SPRING FOREST RD,NaN,RALEIGH,NC,27616-1895,(919) 977-3679,2016-05-26T00:00:00.000Z,Restaurant,-78.591634,35.855487,M
1,1002,4092040338,CAROLINA CLASSIC HOT DOGS #2 (WCID #549),309 HOLLOMAN ST,NaN,APEX,NC,27502,NaN,2016-07-01T00:00:00.000Z,Pushcarts,-78.855348,35.730219,M
2,1003,4092014444,Taco Bell #22798,2207 S MAIN ST,NaN,WAKE FOREST,NC,27587,(919) 554-4924,2005-12-05T00:00:00.000Z,Restaurant,-78.536145,35.946695,M
3,1004,4092015333,THE REMEDY DINER,137 E HARGETT ST,NaN,RALEIGH,NC,27601,(919) 835-3553,2009-02-04T00:00:00.000Z,Restaurant,-78.636895,35.777999,M
4,1005,4092160069,ZEBULON HOUSE (KITCHEN),551 PONY RD,NaN,ZEBULON,NC,27597,NaN,2009-02-18T00:00:00.000Z,Institutional Food Service,-78.332138,35.816779,M

In [201]:
violations_df.pointvalue.unique()

array([0, 1, 2, 3, 4])

In [202]:
yelp_df.head()

,id,name,is_closed,rating,review_count,address1,zip_code,latitude,longitude,price,...,italian,newamerican,chicken_wings,delis,bars,salad,seafood,bbq,bakeries,sushi
0,42nd-street-oyster-bar-rdu-airport-morrisville,42nd street oyster bar - rdu airport,False,2.5,23,2400 John Brantley Blvd,27560,35.873808,-78.790896,$$,...,False,True,False,False,False,False,True,False,False,False
1,aldi-foods-cary,aldi foods,False,4.0,17,2303 NW Maynard Rd,27519,35.802840,-78.785930,$,...,False,False,False,False,False,False,False,False,False,False
2,luciano-pizzeria-ristorante-northwest-raleigh,luciano pizzeria ristorante,False,5.0,2,Crabtree Valley Mall,27612,35.839681,-78.678791,$,...,True,False,False,False,False,False,False,False,False,False
3,olive-garden-italian-restaurant-wilson,olive garden italian restaurant,False,3.0,16,3401 Raleigh Rd Pkwy W,27893,35.743170,-77.964160,$$,...,True,False,False,False,False,True,False,False,False,False
4,subway-wilson-4,subway,False,3.5,3,4934 Raleigh Rd,27896,35.762936,-77.999428,$,...,False,False,False,False,False,False,False,False,False,False

# Data Cleaning

Describe your data cleaning steps here.

In [203]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION  

#most important features from each dataframe needs to be kept everything else needs to be dropped

restaurants_df.columns

Index(['X.objectid', 'hsisid', 'name', 'address1', 'address2', 'city', 'state',
       'postalcode', 'phonenumber', 'restaurantopendate', 'facilitytype', 'x',
       'y', 'geocodestatus'],
      dtype='object')

In [204]:
restaurants_df = restaurants_df.drop(['X.objectid','address2', 'city', 'state','postalcode','restaurantopendate','x','y', 'geocodestatus'], axis=1)

In [205]:
#drop all null values
restaurants_df = restaurants_df.dropna()
#make it so that it is only restaurants
restaurants_df = restaurants_df[restaurants_df['facilitytype'] == 'Restaurant']
restaurants_df

,hsisid,name,address1,phonenumber,facilitytype
0,4092017230,SPRING CAFE 2,2900-104 SPRING FOREST RD,(919) 977-3679,Restaurant
2,4092014444,Taco Bell #22798,2207 S MAIN ST,(919) 554-4924,Restaurant
3,4092015333,THE REMEDY DINER,137 E HARGETT ST,(919) 835-3553,Restaurant
6,4092016679,BITTERSWEET,16 E MARTIN ST,(919) 977-3829,Restaurant
7,4092014493,Chick-fil-A #1573,8901 Brier Creek PKY,(919) 293-0100,Restaurant
...,...,...,...,...,...
3319,4092016658,LA ROMA PIZZA,1322 FIFTH AVE,(919) 662-1700,Restaurant
3320,4092016663,BOJANGLES #5,3301 S WILMINGTON ST,(919) 772-4512,Restaurant
3321,4092016557,BURGER KING #19795,22114 S MAIN ST,(919) 556-7773,Restaurant
3322,4092017227,QUICKLY,4141 DAVIS DR,(984) 465-0347,Restaurant
3323,4092017274,HARRIS TEETER #43 STARBUCKS,3638 ROGERS RD,(919) 562-9521,Restaurant

In [206]:
violations_df.columns

Index(['X.objectid', 'hsisid', 'inspectdate', 'category', 'statecode',
       'critical', 'questionno', 'violationcode', 'severity', 'shortdesc',
       'inspectedby', 'comments', 'pointvalue', 'observationtype',
       'violationtype', 'count', 'cdcriskfactor', 'cdcdataitem'],
      dtype='object')

In [207]:
violations_df = violations_df.drop(['X.objectid',  'count', 'cdcriskfactor', 'cdcdataitem', 'observationtype', 'violationtype','shortdesc', 'inspectedby', 'comments','questionno'], axis = 1)

In [208]:
violations_df.dropna()

#find all the restaurants whos inspection did not reveal a violation which means that the point value was 0
indexNames = violations_df[ violations_df['pointvalue'] == 0 ].index
 
# Delete these row indexes from dataFrame
violations_df.drop(indexNames , inplace=True)
violations_df

,hsisid,inspectdate,category,statecode,critical,violationcode,severity,pointvalue
2,4092015906,2014-10-01T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
5,4092021580,2015-07-17T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
8,4092014996,2015-07-21T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
9,4092015246,2015-07-27T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
11,4092021786,2015-07-29T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
...,...,...,...,...,...,...,...,...
189793,4092014999,2014-08-27T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
189794,4092016685,2014-08-28T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
189795,4092014127,2014-09-06T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
189798,4092016135,2014-09-11T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1
189800,4092021798,2014-09-19T00:00:00.000Z,Chemical,".2653,.2657",Yes,7-102.11,Priority Foundation,1

In [209]:
yelp_df.columns

Index(['id', 'name', 'is_closed', 'rating', 'review_count', 'address1',
       'zip_code', 'latitude', 'longitude', 'price', 'phone', 'hotdogs',
       'sandwiches', 'pizza', 'tradamerican', 'burgers', 'mexican', 'grocery',
       'breakfast_brunch', 'coffee', 'chinese', 'italian', 'newamerican',
       'chicken_wings', 'delis', 'bars', 'salad', 'seafood', 'bbq', 'bakeries',
       'sushi'],
      dtype='object')

In [210]:
yelp_df = yelp_df.drop(['latitude', 'longitude', 'price', 'rating', 'review_count', 'mexican', 'grocery', 'chinese', 'italian', 'newamerican', 'tradamerican', 'bakeries'],axis =1)

In [211]:
yelp_df = yelp_df.dropna()

In [212]:
#find all indices where there is no description of the food
deleteIndexs = yelp_df[(yelp_df['hotdogs'] == False)& (yelp_df['sandwiches'] == False)& (yelp_df['pizza'] == False)& (yelp_df['burgers'] == False)& (yelp_df['breakfast_brunch'] == False) & (yelp_df['coffee'] == False)& (yelp_df['chicken_wings'] == False)& (yelp_df['delis'] == False)& (yelp_df['bars'] == False)& (yelp_df['salad'] == False)& (yelp_df['seafood'] == False)& (yelp_df['bbq'] == False)& (yelp_df['sushi'] == False)].index

In [214]:
#drop all those indices
yelp_df.drop(deleteIndexs , inplace=True)

In [108]:
#here I combined the restaurants and violations by the hsisid column
restaurants_viol_df = pd.merge(restaurants_df, violations_df,on=['hsisid'],how='inner')

In [109]:
restaurants_viol_df.columns

Index(['X.objectid_x', 'hsisid', 'name', 'address1', 'address2', 'city',
       'state', 'postalcode', 'phonenumber', 'restaurantopendate',
       'facilitytype', 'x', 'y', 'geocodestatus', 'X.objectid_y',
       'inspectdate', 'category', 'statecode', 'critical', 'questionno',
       'violationcode', 'severity', 'shortdesc', 'inspectedby', 'comments',
       'pointvalue', 'observationtype', 'violationtype', 'count',
       'cdcriskfactor', 'cdcdataitem'],
      dtype='object')

In [110]:
restaurants_viol_df.head(1)

,X.objectid_x,hsisid,name,address1,address2,city,state,postalcode,phonenumber,restaurantopendate,...,severity,shortdesc,inspectedby,comments,pointvalue,observationtype,violationtype,count,cdcriskfactor,cdcdataitem
0,1001,4092017230,SPRING CAFE 2,2900-104 SPRING FOREST RD,NaN,RALEIGH,NC,27616-1895,(919) 977-3679,2016-05-26T00:00:00.000Z,...,Priority Foundation,Consumer advisory provided for raw or undercoo...,James Smith,3-603.11; Priority Foundation; PIC able to sh...,0,Out,R,NaN,NaN,NaN

In [111]:
#removing columns that are unneeded.
restaurants_viol = restaurants_viol_df.drop(['X.objectid_x', 'address2', 'phonenumber', 'postalcode', 'x', 'y', 'geocodestatus', 'X.objectid_y', 'inspectedby','questionno','count',
       'cdcriskfactor', 'cdcdataitem','violationtype','observationtype'], axis=1)

In [112]:
restaurants_viol.head(1)

,hsisid,name,address1,city,state,restaurantopendate,facilitytype,inspectdate,category,statecode,critical,violationcode,severity,shortdesc,comments,pointvalue
0,4092017230,SPRING CAFE 2,2900-104 SPRING FOREST RD,RALEIGH,NC,2016-05-26T00:00:00.000Z,Restaurant,2016-10-12T00:00:00.000Z,Consumer Advisory,.2653,Yes,3-603.11,Priority Foundation,Consumer advisory provided for raw or undercoo...,3-603.11; Priority Foundation; PIC able to sh...,0

In [113]:
#here I combined the restaurants and violations by the hsisid column
restaurants_viol_yelp_df = pd.merge(restaurants_viol,yelp_df,on=['address1'],how='inner')

In [114]:
restaurants_viol_yelp_df.columns

Index(['hsisid', 'name_x', 'address1', 'city', 'state', 'restaurantopendate',
       'facilitytype', 'inspectdate', 'category', 'statecode', 'critical',
       'violationcode', 'severity', 'shortdesc', 'comments', 'pointvalue',
       'id', 'name_y', 'is_closed', 'rating', 'review_count', 'zip_code',
       'latitude', 'longitude', 'price', 'phone', 'hotdogs', 'sandwiches',
       'pizza', 'tradamerican', 'burgers', 'mexican', 'grocery',
       'breakfast_brunch', 'coffee', 'chinese', 'italian', 'newamerican',
       'chicken_wings', 'delis', 'bars', 'salad', 'seafood', 'bbq', 'bakeries',
       'sushi'],
      dtype='object')

5879

In [116]:
restaurants_viol_yelp_df = restaurants_viol_yelp_df.drop(['city', 'state', 'restaurantopendate','category'], axis=1)

In [231]:
#i have created all of my dataframes containing the restaurants that serve all different kinds of food
sushi_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['sushi'] == True]
bbq_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['bbq'] == True]
seafood_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['seafood'] == True]
salad_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['salad'] == True]
bars_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['bars'] == True]
delis_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['delis'] == True]
chicken_wings_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['chicken_wings'] == True]
coffee_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['coffee'] == True]
burgers_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['burgers'] == True]
pizza_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['pizza'] == True]
sandwiches_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['sandwiches'] == True]
hotdogs_df = restaurants_viol_yelp_df[restaurants_viol_yelp_df['hotdogs'] == True]

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*